<div class="container">
<div class="row">
 <div class="col-md-6">
 <div class="card"> 
<div class="text-center">
    <h1>Student Login</h1>
    <strong>Login Anytime!</strong><hr>
    </div>
    <form [formGroup]="loginform" (ngSubmit)="login()">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" formControlName="email"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the email">
          <small *ngIf="loginform.get('email')?.invalid && loginform.get('email')?.touched"class="text-danger">Email is required</small>
        </div><br>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Enter the Password">
          <small *ngIf="loginform.get('password')?.invalid && loginform.get('password')?.touched"class="text-danger">Password is required</small>
        </div><br>
 
        <button type="submit" class="btn btn-primary" [disabled]="loginform.invalid">Login</button>
      </form>
<a style="color:blue;margin-top: 10px;"routerLink="/signup">New user? Click to signup</a>


</div>
 </div>   
</div>
</div>
